@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Thing>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;

}

<table>
    <tr>
        <td>Text</td>
        <td>@Model.Text</td>
        <td>@Model.Text.GetType()</td>
    </tr>
    <tr>
        <td>Image</td>
        <td>@Model.Image</td>
        <td>@Model.Image?.GetType()</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>@Model.Date</td>
        <td>@Model.Date.GetType()</td>
    </tr>
</table>